body {
    margin: 0;
    padding: 0;
    background-color: #4caf50; /* Green background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }

  .success-container {
    text-align: center;
    color: #fff;
  }

  .success-image {
    width: 200px; /* Adjust image width as needed */
    height: auto;
    margin-bottom: 20px;
  }