/* Reset CSS */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #d921be, #2196F3); /* Gradient background */
}

/* Container Styles */
.login-container,
.signup-container,
.logout-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form Styles */
form {
  text-align: center;
}

input[type="text"],
input[type="password"],
button {
  display: block;
  width: calc(100% - 16px);
  margin-bottom: 10px;
  margin-left: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button Styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Link Styles */
a {
  text-decoration: none;
  color: #007bff;
}
.nav-links a{
  color: #34e53a;
}
.nav-links a:hover {
  text-decoration: dotted; /* Or any other desired text decoration */
}
a:hover {
  text-decoration: underline;
}

/* Specific Container Styles */
.login-container {
  background-color: #fff;
}

.signup-container {
  background-color: #fff;
}

.logout-container {
  background: linear-gradient(to bottom right, #4CAF50, #2196F3);
  color: #fff;
}
/* Navbar Styles */
/* style.css */

/* Navbar Styles */
.navbar {
  background-color: rgba(51, 51, 51, 0.5); /* Transparent black color */
  color: #fff; /* Navbar text color */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar hover effect */
.navbar:hover {
  background-color: rgba(51, 51, 51, 0.8); /* Darker transparent black color on hover */
}

/* Logo Styles */
.navbar .logo {
  font-size: 1.5rem;
}

/* Logo Image Styles */
.navbar .logo img {
  height: 100px; /* Adjust height as needed */
  width: auto; /* Maintain aspect ratio */
}

/* Navigation Links Styles */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

/* Navigation Links hover effect */
.nav-links a:hover {
  color: #ffd700; /* Change text color to gold on hover */
}


/* Footer Styles */
.footer {
  background-color: #333; /* Footer background color */
  color: #fff; /* Text color */
  padding: 20px;
  text-align: center;
}

.social-links {
  margin-bottom: 10px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
}

.social-links img {
  width: 30px; /* Adjust the size of social media icons */
  height: auto;
}